<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startUpSetting</key>
	<dict>
		<key>lat</key>
		<real>51.580003</real>
		<key>lon</key>
		<real>-0.198398</real>
		<key>regionDistance</key>
		<integer>100</integer>
	</dict>
	<key>spots</key>
	<array>
		<dict>
			<key>lat</key>
			<real>51.580023</real>
			<key>lon</key>
			<real>-0.198306</real>
			<key>radius</key>
			<string>30</string>
			<key>title</key>
			<string>Start</string>
			<key>subtitle</key>
			<string>Let the journey begin!</string>
			<key>soundId</key>
			<integer>0</integer>
			<key>imageId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>51.57996</real>
			<key>lon</key>
			<real>-0.198816</real>
			<key>radius</key>
			<string>15</string>
			<key>title</key>
			<string>First spot</string>
			<key>subtitle</key>
			<string>Got the first one, great!</string>
			<key>soundId</key>
			<integer>1</integer>
			<key>imageId</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>51.580148</real>
			<key>lon</key>
			<real>-0.198923</real>
			<key>radius</key>
			<string>15</string>
			<key>title</key>
			<string>Second spot</string>
			<key>subtitle</key>
			<string>You&apos;ve chosen a direction ...</string>
			<key>soundId</key>
			<integer>2</integer>
			<key>imageId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>51.579585</real>
			<key>lon</key>
			<real>-0.198669</real>
			<key>radius</key>
			<string>30</string>
			<key>title</key>
			<string>Third spot</string>
			<key>subtitle</key>
			<string>You&apos;re doing great ...</string>
			<key>soundId</key>
			<integer>3</integer>
			<key>imageId</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
